form(action="/productos" method="pots") 
    ul 
        li 
            label(for="name")=title
            input(type="text")
        li 
            label(for="mail")=mail
            input(type="text")
        li 
            label(for="msg")=msg
            textarea(name="user_message") 